<!-- views/partials/reviews-form.handlebars -->

<fieldset>
  <legend>New Donation</legend>
  <!-- TITLE -->
  <div class= "form-group">
    <label for="review-title">Donation Title</label><br>
    <input id="review-title" type="text" name="title" value="{{review.title}}"/>
  </div>

  <!-- MOVIE TITLE -->
  <!-- <div class= "form-group">

    <label for="movie-title">Movie Title</label><br>
    <input id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
  </div> -->

  <!-- DESCRIPTION -->
  <div class= "form-group">
    <label for="review-description">Donation Amount</label><br>
    <input id="review-description" type="text" name="description"/>{{review.description}}</input>
  </div>

</fieldset>
